language: java

addons:
  sonarcloud:
    organization: "crazile-dot"
    token:
      secure: "UGKWksZ7YMSvIaTjHT0FrLpFtrpx92VUjUa6jourpTndde2P7AXOCEqzJcdD9NtmT1sx8o6ENt/whNOrDsghYXJoko2PyfhQphy3GdKzut8waz4Ge5KvNXOORy4PXFMUJajT7VXd8+aE7uqei56Q0K8HhIZntECR2kvMlt37K7cRMwBJ4/jWaT0yM2sbD+QVNAVUu0VQnoNWsDtLmsPHiaLix+vVPgpraYwDvkMzJzWgFT7Kk4t8OUsgYzVtykUX9VL6TvAAk882MPl5KWzLR2spxolLVKb+H+6Wl7OsKi0FPb1h4stEzmwnYqS8xFUwNCwm/Isa7mt18M4d2DBS61R7hZ2II8kAX/457lsMcxw1yh/dgxvG8kdpxlkjEB4XCfCO0Y5p5BJGvJoLZvjaUs7Jm1g7/D+sphi1PqRf3lyYWna6NKEyy/V9L/efPmrhQDdr/0de/y9OSxmTCIIc1Vln52MvRN5QZFfCXEOyUmNfNaIS3p/4nIBtK/Q7VWhR9hap/m0h5FX1UFxqeXYIo8iB2Q5MoGRTM7zLLZO1rqRNZ8nkrv+RLJCBGwZiPLydGhyBgq+lKQJEsmztO+4BdG6ENU2CHaJyIzIZ15sHvRhvWOr2OVpE2MgLShxypdIUm1IT3pVjJvvKEAOyBtZUXx4+wvLyHXfE7swJSP9UKnA=" # encrypted value of your token

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=crazile-dot_bookkeeper

